<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>

	  <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITestService" />
      </basicHttpBinding>
    </bindings>
    <client>
		<endpoint address="http://wf-async-hwc.cfapps.pez.pivotal.io/TestService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITestService" contract="Services.ITestService"
        name="BasicHttpBinding_ITestService" />
		<!--
		<endpoint address="http://localhost:30816/TestService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITestService" contract="Services.ITestService"
        name="BasicHttpBinding_ITestService" />-->
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>